.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a070c; /* Optional: Add overlay background */
}
.login-btn:disabled {
    cursor: not-allowed;
    background-color: rgba(0, 0, 0, 0.3);
  }
.login-form {
  background-color: #29335c;
  padding: 40px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s forwards;
}

.login-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
}

.login-btn {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.register-link {
  margin-top: 20px;
  color: white;
}

.register-link a {
  color: #db2b39;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
