.verify-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  

  .verify-form {
    background-color: #29335c;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
    animation: fadeIn 1s forwards;
  }

  .verify-btn:disabled, .request-code-btn:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
  }
  
  .verify-form h2 {
    color: white;
    margin-bottom: 20px;
  }
  
  .verify-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .verify-btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .verify-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .request-code-btn {
    padding: 12px 20px;
    font-size: 16px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .request-code-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .verify-btn:disabled, .request-code-btn:disabled {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  